{% extends "form.html" %}
{% load staticfiles %}

{% block form-extra %}
  <p><a href="{% url 'password_reset' %}">Forgot your password?</a>&nbsp;|&nbsp;<a href="{%url 'user:signup' %}">Sign up</a></p>
{% endblock %}
