{% extends "base.html" %}

{% block content %}
<article>
  <h1>Password reset complete</h1>
  <p>Your new password has been set. You can log in now on the <a href="{% url 'user:login' %}">log in page</a>.</p>
</article>
{% endblock %}
