{% extends "base.html" %}

{% block content %}
  <article>
    <h1>Check your inbox.</h1>
    <section>
      <p> We have emailed you instructions for setting your password, if an account exists with the email you entered. You should receive the email shortly. If you don't, please make sure you have entered the address you registered with, and check your spam folder. </p>
    </section>
  </article>
{% endblock %}
