{% extends "base.html" %}

{% block content %}
  <article>
    {% if validlink %}
    <h1>Change password</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <section>
      <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
      </p>
    </section>
  {% endif %}
  </article>
{% endblock %}
