{% extends "base.html" %}

{% block content %}
  <article>
    <h1>Forgot your password?</h1>
    <p>Enter your email address below, and we will send instructions for setting a new one.</p>

    <div class="foo">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
      </form>
    </div>
  </article>
{% endblock %}
