{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <article>
    <h1>{{title}}</h1>
    <p class="subtitle">{{subtitle|safe}}</p>
    <section>
      <p>Your password was changed.</p>
    </section>
  </article>
{% endblock %}
