.tabdata {
  display: none;
}

.ce{
  white-space: pre-wrap;
  margin-top: 1em;
  margin-bottom: .5em;
  margin-right: 27em;
  padding-right: .5em;
}


/* The sidebar menu */
.tab {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    left: 0;
    position: absolute;
    overflow-x: hidden; /* Disable horizontal scroll */
    /* padding-top: 20px; */
    margin-left: 1.8em;
    margin-top: 80px;
    margin-right: 3rem;
    text-align: none;
    text-justify: none;
}
.tab ul{
  list-style-type: none;
  padding-left: 0;
}

.tab ul li{
  margin-top: 0;
  margin-bottom: 0;
}

/* The navigation menu links */
.tab a{
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 40px;
    /* color: #818181; */
    /* background: none; */
    /* display: block; */
}

.sidenavborder {
  margin-top: 1rem;
  margin-bottom: .7rem;
  border-top-style: dashed;
  border-width: thin;
  width: 75%;
}

li.index {
  font-size: 80%;
  line-height: 1.5rem;
  /* margin-top: 0; */
  margin-right: 2.5rem;
  margin-bottom: 0;
}

li.index a{
  font-size: 90%;
  margin-right: 1rem;
}

li.subindex{
  font-size: 70%;
  line-height: 1.1rem;
  margin-left: 1rem;
}

ol{
  margin-left: 0rem;
  padding-left: 2rem;
}

article{
  padding-top: 0rem;
}

h1{
  margin-top: 0.5rem;
}

/* When you mouse over the navigation links, change their color */
/* .sidenav a:hover {
    color: grey;
} */

.logo{
  top: 0; /* Stay at the top */
  margin-bottom: 400px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  left: 0;
  position: absolute;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
  margin-left: 1em;
  margin-bottom: 40px;
}

.logo a{
  background: none;
  margin-right: 40px;
}
.logo img{
  width: 5em;
}

#name{
  margin-left: .9em;
}

/* #######################TOPNAV###################### */
/* Add a black background color to the top navigation */
.topnav {
    /* background-color: #333; */
    overflow: hidden;
    margin-bottom: 0;
    width: 95.7%; /*TODO this is a hack to fix offscreen right issue*/
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    /* color: #818181; */
    text-align: center;
    /* padding: 14px 16px; */
    margin-right: 5px;
    text-decoration: none;
    font-size: 17px;
    /* background: none; */
}

/* Change the color of links on hover */
.topnav a:hover {
    color: grey;
}

/* #################CATEGORYNAV######################## */

.categorynav {
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: right;
    width: 95.7%; /*TODO this is a hack to fix offscreen right issue*/
    /* background-color: #e9e9e9; */
}

/* Style the links inside the navigation bar */
.categorynav a {
    display: inline-block;
    /* color: black; */
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 17px;
}

/* Style the search box inside the navigation bar */
.categorynav input[type=text] {
    display: inline-block;
    padding: 6px;
    border: none;
    margin-top: 8px;
    /* font-size: 17px; */
}

button {
  margin: 5em 10em 5em 10em;

}
