/* html { font-size: 15px; } */

body {
  background-color: #fffff8;
  counter-reset: sidenote-counter;
}

p {
  text-align: justify;
  text-justify: auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

select {
  background-color: #fffff8;
}

article{
  /* margin-top: 2em; */
  padding-left: .5em;
  padding-right: .5em;
  width: inherit;
  /* border-right: solid;
  border-left: solid;
  border-width: .1em; */
}

/*TODO causing contextnav link hitboxes to be screwed up */
.document{
  display: flex;
  margin-top: 2em;
  margin-right: .7em;
  width: 45em;
  /* margin-right: auto; */
  /* position: relative; */
}


.search {
  width: 20em;
}

.topnav {
  position: absolute;
  top: .5em;
  right: 1.1em;
}

/* .categorynav {
  position: absolute;
  top: 3em;
  right: 1.1em;
} */

.foonav {
  margin-top: 1em;
  width: 100%;
  margin-bottom: 3em;
  text-align: center;
}

.foonav .left{
  float: left;
}

.foonav .right{
  float: right;
  margin-right: .5em;
}

.messages {
  /* margin-top: 3em; */
  width: 100%;
}

.tab {
  position: relative;
  top: 2em;
  padding-right: .5em;
}

a:link, a:visited { color: inherit; }

.logo a{
  text-decoration: none;
}

.citation {
  text-decoration: none;
}

.tabdata {
  display: none;
}





.marginnote {
  /* float: none;
  clear: right;
	position: absolute;
	right: 0;
	width: 200px;
	border: 1px solid #000;
	margin: 0;
  margin-right: -208px; */

  float: right;
  clear: right;
  margin-right: -70%;
  width: 55%;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: baseline;
  position: relative;
  /* text-justify: none; */
  /* text-align: left; */

  /* vertical-align: baseline;
  float: right;
  clear: right;
  margin-right: -60%;
  width: 55%; */
}

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before {
  /* font-family: et-book-roman-old-style; */
  position: relative;
  vertical-align: baseline; }

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: .7em;
  top: -.7em;
  left: 0.05em; }

.sidenote:before { content: counter(sidenote-counter) " ";
                   top: -0.5em; }

input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }
