{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <title>Confirmation - Idealogs</title>
{% endblock %}

{% block content %}
<article>
<header>
<h1 class="title">Confirmation</h1>
</header>
<section>
  <p>Your donation has been received!  Thank you for supporting the project.</p>
</section>
</article>
{% endblock %}
