{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <title>Convert - Idealogs</title>
{% endblock %}

{% block content %}
    <article>
      <h1>Idealogs</h1>
      <p class="subtitle">{{subtitle|safe}}</p>
      <form method="post" bib2yaml-username-url="{% url 'b2yjson' %}" onsubmit="return false;">
        {% csrf_token %}
          <section>
            <p>{{form.format.label}}: {{form.format}}</p>
            <p>Input: </p>
            <div class="foo">
                {{form.document}}
            </div>
          </section>
        <button style='margin-top:.5rem;' type="submit" id="b2y-button">Convert</button>
      </form>
      <section>
        <p>Output:</p>
        <div class="foo">
          <textarea id="b2y" style="width:100%;" rows=20></textarea>
        </div>
      </section>
    </article>

  <script>
    $("#b2y-button").click(function (event) {
      event.preventDefault();
      var form = $(this).closest("form");
      $.ajax({
        url: form.attr("bib2yaml-username-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          $("#b2y").html(data.yaml)
          $("#b2y").focus()
        }
      });

    });
  </script>
{% endblock %}
