{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <title>Developers - Idealogs</title>
{% endblock %}

{% block content %}
  <article>
  <header>
  <h1 class="title">Idealogs</h1>
  <p class="subtitle" style='display:inline-block;margin-top:0;padding-top:0;'><a href="/meta">Meta</a>|Developers</p>
  </header>
  <section>
    <p>Interested in contributing?  Awesome! We have a slack channel at <a href="https://idealogs.slack.com/">idealogs.slack.com</a> that currently serves as our Developer HQ.  Please <a href="#">get in touch</a> to receive an invite.</p>

    <!-- <p>We are currently looking for devs that have experience with</p>
    <ul>
      <li>Django, especially at scale</li>
      <li>Application security</li>
      <li>Testing and CI</li>
      <li>MediaWiki</li>
      <li>Elasticsearch</li>
      <li>Chrome extensions</li>
      <li>Secure messaging</li>
    </ul> -->
  </section>
  </article>
{% endblock %}
