{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <title>Donate - Idealogs</title>
{% endblock %}

{% block content %}
  <article>
  <header>
  <h1 class="title">Idealogs</h1>
  <p class="subtitle" style='display:inline-block;margin-top:0;padding-top:0;'><a href="/meta">Meta</a>|</p><div style='display:inline-block;'><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="BB3Q5AW8AGWWQ" />
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="Donate via PayPal" alt="Donate with PayPal button" />
  <!-- <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" /> -->
  </form></div>
  </header>
  <section>
  <p>If you were just thinking</p>
  <div class="epigraph">
  <blockquote>
  <p>Wow, this project is super cool, if only there were a way to support it financially…</p>
  <footer>
  You, circa <em>5 seconds ago</em>
  </footer>
  </blockquote>
  </div>
  <p>then you have come to the right place :)</p>
  </section>
  <nav id="TOC">
    <div class="toc">
      <p><strong>Context</strong></p>
      <ul>
      <li><a href="#donate">Donate?</a></li>
      <li><a href="#is-the-donation-tax-deductible">Is the donation tax deductible?</a></li>
      <li><a href="#where-will-the-money-go">Where will the money go?</a></li>
      <li><a href="#shut-up-and-take-my-money">Shut up and take my money!</a></li>
      </ul>
    </div>
  </nav>

  <section class="level2" id="donate">
  <h2>Donate?</h2>
  <p>The <strong>Idealogical Foundation</strong> is the nonprofit organization that I (<a href="https://tyfried.github.io">Tyler</a>) started to support Idealogs.  The organization's mission is three-fold:</p>
  <ol>
    <li>to build the world's first sunesiary, a place for understanding controversial and complex topics;</li>
    <li>to support and showcase journalism that seeks to inform, not entertain; and</li>
    <li>to empower and engage people around the world to collect and develop educational content under a free license or in the public domain, and to disseminate it effectively and globally (credit: <a href="https://wikimediafoundation.org/about/mission/">Wikimedia Foundation</a>).</li>
  </ol>
  <p>Idealogs is free to use, and always will be.  We need your help to make our mission a reality. </p>
  </section>
  <section class="level2" id="is-the-donation-tax-deductible">
  <h2>Is the donation tax deductible?</h2>
  <p>Not yet, but hopefully soon. I am currently in the process of applying for 501c(3) status.</p>
  </section>
  <section class="level2" id="where-will-the-money-go">
  <h2>Where will the money go?</h2>
  <p>I run a lean operation. I am currently the only employee, and as of August 2019 I am now working full-time as Lead Developer, Chief Evangelist, Secretary, Corporate Lackey, etc.
  Operational costs are currently <strong>$30/mo.</strong> Funds outside of that will be invested into the site.  There is so much more to do.</p>
  </section>
  <section class="level2" id="shut-up-and-take-my-money">
  <h2>Shut up and take my money!</h2>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="BB3Q5AW8AGWWQ" />
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="Donate via PayPal" alt="Donate with PayPal button" />
  <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
  </form>
  </section>
  </article>
{% endblock %}
