{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block head %}
  <title>Article Not Found - Idealogs</title>
{% endblock %}

{% block content %}
  <article>
    <h1><em>{{gaykaken}}</em></h1>
    <p class="subtitle">(that's Yiddish for <strong>404 Not Found</strong>)</p>
  </article>
{% endblock %}
