{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <title>Terms of Service - Idealogs</title>
{% endblock %}

{% block content %}
  <article>
  <header>
  <h1 class="title">Idealogs</h1>
  <p class="subtitle" style='display:inline-block;margin-top:0;padding-top:0;'><a href="/meta">Meta</a>|TOS</p>
  </header>
  <section>
    <p>Idealogs needs a Terms of Service! Do you know how to write one? Please <a href="{% url 'contact' %}">get in touch</a> &#x1f62c;</p>
  </section>
  </article>
{% endblock %}
