{% extends "idealogs/diff.html" %}

{% block rightfoonav %}
  {% include 'idealogs/util/rightfoo.html' %}
  {% include 'search_bar.html' %}
{% endblock %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    <article>
      <h1>{{object}}</h1>
      <p class="subtitle">{% spaceless %}{% include 'idealogs/subtitle.html' %}<span>|{{title}}</span>{% endspaceless %}<span style='font-size:1.25rem;'>{% include 'idealogs/util/detail.html' with c=source %} into {% include 'idealogs/util/detail.html' with c=target %}</span></p>
      {% include 'idealogs/log.html' %}
      {{form.errors}}
      {% for field in form %}
        {{ field.as_hidden }}
      {% endfor %}
      <div class="foo">
        <div class="expandingArea">
          <pre><span></span><br></pre>
          {% if prettydiff %}
            <div style='padding:5px;font: 400 13px/16px helvetica, arial, sans-serif;'>
              {{prettydiff | safe}}
            </div>
          {% elif uglydiff %}
            <div style='padding:5px;font: 400 13px/16px helvetica, arial, sans-serif;'>
              {{uglydiff | linebreaksbr | safe}}
            </div>
          {% endif %}
        </div>
      </div>
      {{button_bottom|safe}}
    </article>
  </form>
{% endblock %}
