{% extends "base.html" %}
{% load staticfiles %}

{% block leftfoonav %}
  {% include 'idealogs/util/leftfoo.html' %}
{% endblock %}

{% block rightfoonav %}
  {% include 'idealogs/util/rightfoo.html' %}
  {{block.super}}
{% endblock %}

{% block content %}
  <article>
    <h1>{{object}}</h1>
    <p class="subtitle">{{subtitle|safe}}</p>
    <section>
      <p>{{form.errors}}</p>
      <form method="post">
          {% csrf_token %}
          <p>Are you sure you want to delete this article?</p>
          <input type="submit" name="action1" value="Confirm" onclick="return confirm('Are you sure you super-duper sure you want to delete this article? This cannot be undone.');">

      </form>
    </section>

  </article>
{% endblock %}
