{% extends "base.html" %}
{% load staticfiles %}

{% block leftfoonav %}
  {% include 'idealogs/util/leftfoo.html' %}
{% endblock %}

{% block rightfoonav %}
  {% include 'idealogs/util/rightfoo.html' with detail=True %}
  {{block.super}}
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="status" value={{commit.status}}>
    <article>
      <h1>{{commit.get_title}}</h1>
      <p class="subtitle">{{subtitle|safe}}</p>
      <div class="log-info {% if not log %}log-inactive{% endif %}">
        {% include 'idealogs/log.html' %}
      </div>
      {{body|safe}}
      <div class="log-info {% if not log %}log-inactive{% endif %}">
        {{button_bottom|safe}}
      </div>
    </article>
  </form>
{% endblock %}

{% block mathjax %}
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      messageStyle: "none",
      showMathMenu: false,
      TeX: { equationNumbers: { autoNumber: "AMS" } },
      tex2jax: {
        preview: "none",
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      },
      // "HTML-CSS": { fonts: ["TeX"] }
    });
    //# sourceURL=temp.js
  </script>
{% endblock %}

{% block script %}
  <script src="{% static 'idealogs/detail.js' %}?2"></script>
{% endblock %}
