{% extends "base.html" %}
{% load staticfiles %}

{% block leftfoonav %}
  {% include 'idealogs/util/leftfoo.html' %}
{% endblock %}

{% block rightfoonav %}
  {% include 'idealogs/util/rightfoo.html' with commit=newer %}
  {{block.super}}
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <article>
      <!-- {{form.errors | safe}} -->
      <h1>{{object}}</h1>
      <p class="subtitle">{% spaceless %}{% include 'idealogs/subtitle.html' %}<span>|</span>{% endspaceless %}{% if not changes or request.GET.history %}<a href="{{commit.get_history_url}}">History</a>|{% endif %}{{title}}<span style='font-size:1.25rem;'>{% include 'idealogs/util/detail.html' with c=newer %} v. {% include 'idealogs/util/detail.html' with c=older %}</span></p>
      {% if changes %}
        {% include 'idealogs/log.html' %}
      {% endif %}
      <div class="foo">
        <div class="expandingArea">
          <pre><span></span><br></pre>
          <div style='padding:5px;font: 400 13px/16px helvetica, arial, sans-serif; word-wrap: break-word;'>
            {{diff | safe}}
          </div>
        </div>
      </div>
      {{button_bottom|safe}}
    </article>
  </form>
{% endblock %}
