{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block leftfoonav %}
  {% include 'idealogs/util/leftfoo.html' %}
{% endblock %}

{% block rightfoonav %}
  {% include 'idealogs/util/rightfoo.html' with history=True %}
  {{block.super}}
{% endblock %}

{% block content %}
  <article>
    <h1>{{object}}</h1>
    <p class="subtitle">{% spaceless %}{% include 'idealogs/subtitle.html' %}<span>|History</span>{% endspaceless %} <button type="text" class="changes-button" style="position:relative;bottom:2px;">Changes</button></p>
    {% include 'search_list.html' %}
  </article>
{% endblock %}

{% block script %}
  <script src="{% static 'idealogs/diff.js' %}?2"></script>
{% endblock %}
