{% load idealogs_extras %}

<div style='margin-top:2.5rem;'>
  <div style='margin-top:-1.5rem;margin-bottom:-.25rem;'>---</div>
  <div style='font-size:1rem;margin-bottom:-.5rem;line-height:1.25rem;'>
    {# with laquo=commit|laquo_object:request|safe raquo=commit|raquo_object:request|safe #}
    <!-- <strong>Article</strong>: {{laquo}} {{commit.article.get_handle_linked|safe}} {{raquo}}<br/> -->
    {# endwith #}
    <strong>Domain</strong>: <a href="{{commit.article.domain.get_works_url}}">@{{commit.article.domain}}</a><br/>
    <strong>Commit</strong>: {{commit|laquo_commit:request|safe}} <span class="commit-id">{{commit.commit_id}}</span> {{commit|raquo_commit:request|safe}}<br/>
    {% if commit.status > commit.SAVED %}
      <strong>Status</strong>: <span class="commit-status" style='color:green;'>{{commit.status|status}}</span>{% if commit|pending:request %} <em>(publication pending)</em>{% endif %}<br/>
    {% else %}
      <strong>Status</strong>: <span style='color:red;'>{{commit.status|status}}</span><br/>
    {% endif %}
    {% if commit.creator %}
      <strong>Creator</strong>: <a href="{{commit.creator.user.get_absolute_url}}">@{{commit.creator}}</a> ({{commit.creator.role|role}})<br/>
    {% else %}
      <strong>Creator</strong>: <a href="{{commit.anoncreator.get_absolute_url}}">{{commit.anoncreator}}</a><br/>
    {% endif %}
    {% if commit.approver %}
      <strong>Approver</strong>: <a href="{{commit.approver.get_absolute_url}}">{{commit.approver}}</a><br/>
    {% endif %}
    <section class="section-log">
      {% if commit.message or error %}
        <p class="commit-message" style='font-size:1rem;line-height:1rem;margin-top:0rem;margin-bottom:0rem;'><strong>Message</strong>: {% if error %}<span style="color:red;">**{{error}}**</span>{% else %}{{commit.message|safe}}<span class='commit-message-error'></span>{% endif %}<br/></p>
      {% else %}
        <p class="commit-message commit-message-hidden" style='font-size:1rem;line-height:1rem;margin-top:0rem;margin-bottom:0rem;'><strong>Message</strong>: <span class='commit-message-error'></span><br/></p>
      {% endif %}
    </section>
  </div>
  <div style='margin-top:.1rem;'>---</div>
  {% if not detail %}
    {{button_top|safe}}
  {% endif %}
</div>
