{% extends "base.html" %}
{% load staticfiles %}

{% block leftfoonav %}
  {% include 'idealogs/util/leftfoo.html' %}
{% endblock %}

{% block rightfoonav %}
  {% include 'idealogs/util/rightfoo.html' %}
  {{block.super}}
{% endblock %}

{% block content %}
    <form method="post">
      <article>
        <h1>{{object}}</h1>
        <p class="subtitle">{% spaceless %}{% include 'idealogs/subtitle.html' %}<span>|Stage</span>{% endspaceless %}</p>
        {% include 'idealogs/log.html' %}
        {{body | safe}}
        {% csrf_token %}
        {% for field in form %}
          {% if field.label == "Message" %}
            <div class="foo">
              <div class='preview-message'><strong>Message:</strong> {{field.value}}</div>
            </div>
          {% endif %}
          {{ field.as_hidden }}
      {% endfor %}
        <input type="hidden" name="{{ stage_field }}" value="2" />
        <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
        <!-- Submit button -->
        {{button_bottom|safe}}
      </form>
      </article>
{% endblock %}

{% block mathjax %}
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      messageStyle: "none",
      showMathMenu: false,
      TeX: { equationNumbers: { autoNumber: "AMS" } },
      tex2jax: {
        preview: "none",
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      },
      // "HTML-CSS": { fonts: ["TeX"] }
    });
    MathJax.Hub.Queue(function () {
       document.getElementById("hide_page").style.visibility = "";
    });
    //# sourceURL=temp.js
  </script>
{% endblock %}

{% block script %}
  <script src="{% static 'idealogs/update.js' %}?2"></script>
{% endblock %}
