{% extends "base.html" %}
{% load staticfiles %}

{% block leftfoonav %}
  {% include 'idealogs/util/leftfoo.html' %}
{% endblock %}

{% block rightfoonav %}
  {% include 'idealogs/util/rightfoo.html' with source=True %}
  {{block.super}}
{% endblock %}

{% block content %}
  <article>
    <div class="foo">
      <h1>{{object}}</h1>
      <p class="subtitle">{% spaceless %}{% include 'idealogs/subtitle.html' %}<span>|Source</span>{% endspaceless %}</p>
      <div class="expandingArea">
        <textarea name="document" style="resize:none;margin-bottom:-.5rem;min-height:42.5vh" id="id_document">{{commit.document}}</textarea>
      </div>
    </div>
  </article>
{% endblock %}

{% block script %}
  <script src="{% static 'idealogs/update.js' %}?2"></script>
{% endblock %}
