{% extends "base.html" %}
{% load staticfiles %}

{% block leftfoonav %}
  {% include 'idealogs/util/leftfoo.html' %}
{% endblock %}

{% block rightfoonav %}
  {% include 'idealogs/util/rightfoo.html' %}
  {{block.super}}
{% endblock %}

{% block content %}
  <form method="POST" class="post-form" id="update-form">
    {% csrf_token %}
    <article>
      <h1>{{object}}</h1>
      <p class="subtitle">{% spaceless %}{% include 'idealogs/subtitle.html' %}<span>|Stage</span>{% endspaceless %}</p>
      {% include 'idealogs/log.html' %}
      <div class="foo">
        <div class="expandingArea" style="min-height:0rem;">
          <div style='padding:5px;font: 400 13px/16px helvetica, arial, sans-serif;'>
            {{diff | safe}}
          </div>
        </div>
      </div>
      {% for field in form %}
        {% if field.label == "Message" %}
          <div class="foo">
            <div class="commit-message-textarea" style='border-top:0;'>
              <textarea name="message" placeholder="Message" style="resize:none;margin-bottom:-.5rem;height:0rem;" class="required-field" id="id_document" required rows="1">{% if field.value %}{{field.value}}{% endif %}</textarea>
            </div>
          </div>
        {% else %}
          {{ field.as_hidden }}
        {% endif %}
      {% endfor %}
      <!-- Submit button -->
      {{button_bottom|safe}}
    </article>
  </form>
{% endblock %}

{% block script %}
  <script src="{% static 'idealogs/update.js' %}?2"></script>
  <script src="{% static 'js/submit.js' %}?2"></script>
  <script>$('form').preventDoubleSubmission();</script>
{% endblock %}
