{% extends "base.html" %}
{% load staticfiles %}

{% block leftfoonav %}
  {% include 'idealogs/util/leftfoo.html' %}
{% endblock %}

{% block rightfoonav %}
  {% include 'idealogs/util/rightfoo.html' with update=True %}
  {{block.super}}
{% endblock %}

{% block content %}
  <form method="POST" class="post-form" id="update-form" save-url={{save_url}}>
    {% csrf_token %}
    <article>
      <h1>{{object}}</h1>
      <p class="subtitle">{% spaceless %}{% include 'idealogs/subtitle.html' %}<span>|Edit</span>{% endspaceless %}</p>
      {% include 'idealogs/log.html' %}
      <div class="foo">
        <span style="display:inline-block;font-family:serif;font-size:1.25rem;margin-bottom:.25rem;">{{laquo|safe}}<span class="aquo aquo-enabled" style='margin-left:0rem;'><a href="{{commit.get_edit_url}}">Section</a></span>{{raquo|safe}}</span>
        <div class="update-search">
          <input name="name" placeholder="Search" id="id_search"></input>
        </div>
        <div id="query" class="query-disabled">
          <div class="query-item-category">
          </div>
          <div class="query-item-follow">
            <div class="query-item-aquo query-laquo">
            </div>
            <div class="query-item-aquo query-raquo">
            </div>
          </div>
          <div class="query-item"></div>
          <div class="query-item-description"></div>
          <div style='display:none' id="identifier"></div> <!--doesn't do anything here, just need for compatibility with new article -->
        </div>
        {% for field in form %}
          {% if field.label == "Message" %}
              <!-- <div style='margin-top:1rem;'>{{field.label}} {{field.help_text}}:</div> -->
              <!-- <div class="update-search" style='border-top:0;'>{{ field }}</div> -->
              <!-- <div class="commit-message-textarea" style="border-top:0;">
                <textarea name="message" style="resize:none;margin-bottom:-.5rem;height:0rem;" id="formtools_message">{{field.value}}</textarea>
              </div> -->
              <div class="foo">
                <div class="commit-message-textarea" style='border-top:0;'>
                  <textarea name="message" placeholder="Message" style="resize:none;margin-bottom:-.5rem;height:0rem;" class="required-field" id="formtools_message" required rows="1">{% if field.value %}{{field.value}}{% endif %}</textarea>
                </div>
              </div>
          {% elif field.label == "Document" %}
            <div class="expandingArea" style="border-top:0;">
              <textarea name="document" style="resize:none;margin-bottom:-.5rem;min-height:42.5vh" id="id_document">{{field.value}}</textarea>
            </div>
          {% else %}
            {{ field.as_hidden }}
          {% endif %}
        {% endfor %}
        {% if hints %}
          <div class="feed-container">
            {% for object in hints %}
              {% include 'feed/hint.html' %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
      {{button_bottom|safe}}
    </article>
  </form>
{% endblock %}

{% block script %}
  <script src="{% static 'idealogs/update.js' %}?2"></script>
  <script src="{% static 'idealogs/query.js' %}?2"></script>
  {% if anonedit %}
    <script src="{% static 'idealogs/anon-update.js' %}?2"></script>
  {% endif %}
{% endblock %}
