{% load idealogs_extras %}
{% if commit.commit_id is None or commit.status >= commit.HEAD %}
  [<a href="{{commit.get_changes_url}}">{{commit.status|status}}</a>]
{% else %}
  <a href="{{commit.get_changes_url}}">Commit {{commit.commit_id}}</a>
{% endif %}
