{% load idealogs_extras %}
{% if c.commit_id is None or c.status >= commit.HEAD %}
  [<a href="{{c.get_detail_url}}?log=True">{{c.status|status}}</a>]
{% else %}
  <a href="{{c.get_detail_url}}?log=True">Commit {{c.commit_id}}</a>
{% endif %}
