{% load idealogs_extras %}
{% if object.status >= object.SUBMITTED %}
  <div><a href="{{object.get_ken_url}}">{% if commit.page == commit.KEN %}<em>Ken</em>{% else %}Ken{% endif %}</a></div>
  <div>|</div>
  <div><a href="{{object.get_talk_url}}">{% if commit.page == commit.TALK %}<em>Talk</em>{% else %}Talk{% endif %}</a></div>
  {% if object.hash %}
    <div>|</div>
    <div><a href="{{object.get_work_url}}">{% if commit.page == commit.WORK %}<em>Work</em>{% else %}Work{% endif %}</a></div>
  {% endif %}
{% else %}
  <div><a href="{{object.get_work_url}}">{% if commit.page == commit.WORK %}<em>Work</em>{% else %}Work{% endif %}</a></div>
  <div>|</div>
  <div><a href="{{object.get_talk_url}}">{% if commit.page == commit.TALK %}<em>Talk</em>{% else %}Talk{% endif %}</a></div>
{% endif %}
