{% load idealogs_extras %}

<div class="nav-fixin"><a href="{{commit.get_absolute_url}}">{% if detail and not yesterday %}<em>Read</em>{% else %}Read{% endif %}</a></div>
<div class="nav-fixin">|</div>
{% if commit.page == commit.WORK and object.status >= object.PUBLISHED %}
  <div class="nav-fixin"><a href="{{commit.get_source_url}}">{% include 'idealogs/util/emph.html' with emph=source action='Source' %}</a></div>
  <div class="nav-fixin">|</div>
{% elif commit.page == commit.KEN and object.status == object.FULL and not request.user.is_staff %}
    <div class="nav-fixin"><a href="{{commit.get_source_url}}">{% include 'idealogs/util/emph.html' with emph=source action='Source' %}</a></div>
    <div class="nav-fixin">|</div>
{% elif role == 0 or role == 2 %}
  <div class="nav-fixin"><a href="{{commit.get_source_url}}">{% include 'idealogs/util/emph.html' with emph=source action='Source' %}</a></div>
  <div class="nav-fixin">|</div>
{% else %}
  <div class="nav-fixin"><a href="{{commit.get_edit_url}}">{% include 'idealogs/util/emph.html' with emph=update action='Edit' %}</a></div>
  <div class="nav-fixin">|</div>
{% endif %}
<div class="nav-fixin"><a href="{{commit.get_history_url}}">{% include 'idealogs/util/emph.html' with emph=history action='History' %}</a></div>
{% if commit.page != commit.TALK %}
  <div class="nav-fixin">|</div>
  <div><a href="{{commit.get_settings_url}}">{% include 'idealogs/util/emph.html' with emph=settings action='Settings' %}</a></div>
{% endif %}
