{% load humanize %}
{% load idealogs_extras %}

{% with c=object %}
  <div class="feed-item">
    <div class="feed-item-category"><strong><a href="/@{{c.idea}}">@{{c.idea}}</a></strong>{% if c.article_status <= 2 %} ({{c.article_status|astatus}}){% endif %}</div>
    <div class='feed-item-follow'><em>{{c.committed|strptime|naturaltime }}</em></div>
    <div class='feed-item-title'><a href="/@{{c.idea}}{% if c.page == 'talk' %}/talk{% endif %}/changes/{{c.commit_id}}">{{c.title}}</a></div>

    <div style='font-size:1rem;line-height:1.25rem;'>
      <strong>ID</strong>: {{c.page}}/{{c.commit_id}}<br/>
      {% if not anondetail and domain.str2|slice:"1:" != c.user %}
        {% if c.role %}
          <strong>Creator</strong>: <a href="/@{{c.user}}">@{{c.user}}</a> ({{c.role|role}})<br/>
        {% else %}
          <strong>Creator</strong>: <a href="/anon/{{c.user}}">{{c.user}}</a><br/>
        {% endif %}
      {% endif %}
      {% if c.message %}
        <p class="commit-message" style='font-size:1rem;line-height:1rem;margin-top:0rem;margin-bottom:0rem;'><strong>Message</strong>: {{c.message|safe}}<br/></p>
      {% endif %}
    </div>

    {% if request.GET.q %}<div style='margin-top:.5rem;'><small>{{ c.meta.highlight.document|highlightify|truncatechars_html:160 | safe}}</small></div>{% endif %}
  </div>
{% endwith %}
