{% load humanize %}
{% load idealogs_extras %}
<div class="feed-item">
  <div class="feed-item-category"><strong>@{{object.domain}}x{{object.range|rangeify}}</strong>{% if object.status <= 2 %} ({{object.status|astatus}}){% endif %}</div>
  <div class='feed-item-follow'><em>modified {{object.modified|strptime|naturaltime }}</em></div>
  <div class="feed-item-title"><a href="/@{{object.domain}}x{{object.range|rangeify}}">{{object.title|truncatechars_html:100}}</a></div>
  {% if object.meta.highlight.document %}
    <div style='margin-top:.5rem;'><p class="feed-item-description">{{ object.meta.highlight.document|highlightify|truncatechars_html:160|safe}}</p></div>
  {% else %}
    <div style='margin-top:.5rem;'><p class="feed-item-description">{{ object.lede|truncatechars_html:160|safe}}</p></div>
  {% endif %}
</div>
