{% load humanize %}
{% load idealogs_extras %}
<div class="feed-item">
  <div class="feed-item-category">@{{object.idea}}</div>
  <div class="feed-item-title"><a href="/@{{object.idea}}">{{object.get_title|truncatechars_html:100}}</a></div>
  <p class='feed-item-description'>{{ object.lede|truncatechars_html:160|safe}}</p>
</div>
