{% load humanize %}
{% load idealogs_extras %}
<div class="feed-item">
  {% with c=object count=forloop.counter0 value=object.commit_id %}
    <p style='margin-top:0;margin-bottom:-.5rem;padding-top:1rem;font-weight:bold;'>
      <label for="id_commits_{{count}}">
        <input type="checkbox" name="commits" class="commit" value="{{value}}" id="id_commits_{{count}}">
      </label>
      {% if c.commit_id is None %}
        [<a href="/@{{c.idea}}{% if c.page == commit.TALK %}/talk{% endif %}/changes?history=True">{{c.status|status}}</a>]
      {% elif c.status >= commit.HEAD %}
        [<a href="/@{{c.idea}}{% if c.page == commit.TALK %}/talk{% endif %}/changes/{{c.commit_id}}?history=True">{{c.status|status}}</a>]
      {% else %}
        <a href="/@{{c.idea}}{% if c.page == commit.TALK %}/talk{% endif %}/changes/{{c.commit_id}}?history=True">Commit {{c.commit_id}}</a>
      {% endif %}
    </p>
    <div style="font-size:1rem;margin-top:1rem;">
      {% if c.role %}
        <strong>Creator</strong>: <a href="/@{{c.user}}">@{{c.user}}</a> ({{c.role|role}})<br/>
      {% else %}
        <strong>Creator</strong>: <a href="/anon/{{c.user}}">{{c.user}}</a><br/>
      {% endif %}
    </div>
    <strong>Message</strong>: {{c.message|truncatechars_html:50|safe}}

    {% if request.GET.q %}<div style='margin-top:.5rem;'><small>{{ object.meta.highlight.document|highlightify|truncatechars_html:160 | safe}}</small></div>{% endif %}
    {% if c.status >= commit.COMMITTED %}
      <div class='feed-item-follow'><em>committed {{c.committed|strptime|naturaltime }}</em></div>
    {% elif c.status == commit.REQUESTED %}
      <div class='feed-item-follow'><em>requested {{c.committed|strptime|naturaltime }}</em></div>
    {% endif %}
  {% endwith %}
</div>
