{% load humanize %}
{% load idealogs_extras %}
{% if object.role != object.INVITED or is_owner or object.user == request.user %}
  <div class="feed-item">
    <div class="feed-item-title">
      <a href="{{object.user.get_absolute_url}}">{{object.user}}</a>
      {% if object.role == object.MEMBER %}
        {% if is_owner %}
          <form style='display:inline;' method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{object.id}}">
            <button type="submit" name="action4">remove</button>
          </form>
        {% elif object.user == request.user %}
          <form style='display:inline;' method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{object.id}}">
            <button type="submit" name="action5">resign</button>
          </form>
        {% endif %}
      {% elif object.role == object.INVITED %}
        {% if is_owner %}
          <form style='display:inline;' method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{object.id}}">
            <button type="submit" name="action3">uninvite</button>
          </form>
        {% elif object.user == request.user %}
          <form style='display:inline;' method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{object.id}}">
            <button type="submit" name="action1">accept</button>
            <button type="submit" name="action2">decline</button>
          </form>
        {% else %}
          ({{object.role|role}})
        {% endif %}
      {% else %}
        ({{object.role|role}})
      {% endif %}
      {% if object.role < object.SELF %}
        {% with objects=domain|get_objects:object.user %}
          {% if objects %}
            <div style="font-size:1rem;margin-top:.5rem;margin-bottom:-.75rem;">
              {% for o in objects %}
                <a href="{{o.get_absolute_url}}">x{{o.range|rangeify}}</a>{% if not forloop.last %},{% endif %}
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
      {% endif %}
    </div>
  </div>
{% endif %}
