{% load humanize %}
{% load idealogs_extras %}
{% with is_removable=commit.article|is_removable:object %}
  {% if object.role != object.NONE or not is_removable or is_owner %}
    <div class="feed-item">
      <div class="feed-item-title">
        <a href="{{object.user.get_absolute_url}}">{{object.user}}</a>
        ({{object.role|role}})
        {% if is_owner and commit.is_workable and commit.article.status <= commit.article.PUBLIC and object.role <= object.APPROVER and is_removable %} {# used to also be 'and object.user != request.user' #}
          <form style='display:inline;' method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{object.id}}">
            <button type="submit" name="action6">remove</button>
          </form>
        {% endif %}
        {% if commit %}
          {% with commits=commit|get_commits:object.user %}
            {% if commits %}
              <div style="font-size:1rem;margin-top:.5rem;margin-bottom:-.75rem;font-weight:normal;">
                {% for c in commits %}
                  <!-- <a href="{{c.get_detail_url}}">{{c.commit_id}}</a>{% if not forloop.last %},{% endif %} -->
                  {% include 'idealogs/util/changes.html' with commit=c %}{% if not forloop.last %},{% endif %}
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endwith %}
