{% load humanize %}
{% load idealogs_extras %}
<div class="feed-item">
  <div class='feed-item-follow'><em>established {{object.created|strptime|naturaltime }}</em></div>
  <div class="feed-item-title"><a href="/@{{object.id}}">@{{object.id}}</a>
</div>
