{% load user_extras %}
{% load idealogs_extras %}
{% load humanize %}
<div class="feed-item">
  <div class="feed-item-title"><a href="{{object.get_absolute_url}}">@{{object}}</a> (<a href="{{object.get_contributors_url}}">{{object.role|role}}</a>)</div>
  {% with owner=object.get_owner %}
    <div style="font-size:1rem;">
      <strong>Owner</strong>: <a href="{{owner.get_absolute_url}}">{{owner}}</a>
    </div>
  {% endwith %}

  <div style="font-size:1rem;"><strong>Established</strong>: <a href="/search?q={{object.created|date}}">{{object.created|date}}</a></div>
</div>
