{% load humanize %}
{% load idealogs_extras %}
<div class="feed-item">
  <div class="feed-item-category">HINT</div>
  <div class="feed-item-title">{{object.0|safe}}</div>
  <p class='feed-item-description'>{{object.1|safe}}</p>
</div>
