{% load humanize %}
{% load idealogs_extras %}
<div class="feed-item">
  {% with l_idea=object|ideaify:"l" r_idea=object|ideaify:"r" %}
    <div class="feed-item-category"><span class="link-node link-node-left-{{forloop.counter0}} link-node-active"><a href="/{{l_idea}}" onclick="nodeSwitch(event,'left',{{forloop.counter0}});">{{l_idea}}</a></span> <span class='link-lrarr'>&lrarr;</span> <span class="link-node link-node-right-{{forloop.counter0}}"><a href="/{{r_idea}}" onclick="nodeSwitch(event,'right',{{forloop.counter0}});">{{r_idea}}</a></span></div>
    <div class="left-{{forloop.counter0}}">
      <div class="feed-item-title"><a href="/{{l_idea}}">{{object.l_title}}</a></div>
      <p class='feed-item-description'>{{ object.l_lede|truncatechars_html:160 | safe}}</p>
    </div>
    <div class="right-{{forloop.counter0}} link-inactive">
      <div class="feed-item-title"><a href="/{{r_idea}}">{{object.r_title}}</a></div>
      <p class='feed-item-description'>{{ object.r_lede|truncatechars_html:160 | safe}}</p>
    </div>
  {% endwith %}
</div>
