{% load humanize %}
{% load idealogs_extras %}
<div class="feed-item">
  <div class="feed-item-title"><a href="{{object.1}}">{{object.0}}</a></div>
  <p class='feed-item-description'>{{ object.2|safe}}</p>
</div>
