{% load humanize %}
<div class="feed-item">
  <div style="position:absolute;top:.25rem;right:.25rem;"><strong>{{ object.timesince }} ago</strong></div>
  <div style='margin-top:0rem;padding-top:2rem;font-size:1.2rem;padding-bottom:1rem;'>
    <span {% if forloop.counter <= count %}style='font-weight:bold;'{% endif %}><a href="{{ object.actor.get_absolute_url }}">{{object.actor}}</a>
    {{ object.verb }} <a href="{{object.target.get_notification_url}}">{{object.target.str2}}</a></span>
  </div>
</div>
