{% load humanize %}
{% load idealogs_extras %}
<div class="feed-item">
  <div class="feed-item-category"><strong>{{object.get_handle_linked|safe}}</strong>{% if object.status <= object.OPEN %} ({{object.status|astatus}}){% endif %}</div>
  {% get_commit as commit %}
  <div class='feed-item-follow'><em>{{commit.modified|naturaltime}}</em></div>
  <div class="feed-item-title"><a href="{{commit.get_edit_url}}">{{commit.get_title|truncatechars:100}}</a></div>
  <div style='font-size:1rem;line-height:1.25rem;'>
    {% if commit.status <= commit.SAVED %}
      <strong>ID</strong>: {{commit.page}}/{{commit.commit_id}}<br/>
      <strong>Status</strong>: <span style='color:red;'>{{commit.status|status}}</span><br/>
      <strong>Role</strong>: {{commit.creator.role|role}}<br/>
      {% if commit.message %}
        <p class="commit-message" style='font-size:1rem;line-height:1rem;margin-top:0rem;margin-bottom:0rem;'><strong>Message</strong>: {{commit.message|safe}}<br/></p>
      {% endif %}
    {% else %}
      <strong>Role</strong>: {{object|get_role:request.user|role}}<br/>
    {% endif %}
  </div>
</div>
