body {
  background-color: #fffff8;
  margin-left: 0rem;
  margin-right: 0rem;
  /* margin: 0; */
}

#tif-score{
  font-size: 1.5rem;
}

.parent{
  display: flex;
}

.feed {
  padding-left: 5%;
  padding-right: 5%;
  width: 20%;
}

.subaction{
  display: inline;
  font-size: 1.25rem;
}

.infinite-container {
/* position: relative; */
border-left: 1px solid #888;
border-right: 1px solid #888;
width: inherit;
}

.infinite-item:nth-last-child(1){
  border-bottom: 1px solid #888;
}
.infinite-item:nth-of-type(1) {
  border-top: 0;
}

.infinite-item:nth-of-type(even){
  /* background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px; */
  /* background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.1) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.1) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.1) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.1) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px; */
  background-color: #fcfdf7;
}

.infinite-item:nth-of-type(odd){
  background-color: #e4ebee;
}

.infinite-item{
  border-top: 1px solid #888;
  position: relative;
  /* padding-left: .25rem; */
  padding: .25rem;
}

.feed-item{
  /* margin-top: .15rem;
  border: 1px solid #e7e7e7; */
  /* border: 1px solid #cfcfcf; */

  /* background: #fff; */
  /* border: 1px solid #888;
  border-bottom: 0; */
  position: relative;
  padding-left: .25rem;
}

.infinite-item > p > a {
  word-break: break-all;
}

.uri {
  /* word-break: break-all; */
  /* font-weight: bold; */
}

.feed-item-category{
  font-size: 1rem;
  /* padding-top: .25rem; */
}

.feed-item-follow{
  position: absolute;
  top: .25rem;
  right: .25rem;
}

.feed-item-description{
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 0;
}

dt{
  display: inline;
}

#TOC{
  padding: 0;
}

#TOC > div > p {
  margin-top: 0;
  margin-bottom: 0;
  /* font-family: monospace; */
  font-size: 1.4rem;
  display: inline-block;
}

#TOC > div > ul{
  margin: 0rem;
  /* line-height: 1rem; */
}

#TOC > .toc{
  display:inline-block;
    /* background-color: #f9f9f9; */
  padding-left: 1rem;
  padding-right: 1rem;
  /* border: 1px #e5e5e5 solid; */
}

/*h2::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

h3::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
} */

/* .nav-grid > div > div > div{
  background-color: #fcfdf7;
} */

.foonav{
  /* background-image: linear-gradient(#fffff8,#f7f9f5);
  border-bottom: 1px solid #e4ebee; */
  /* padding-top:15px; */
}

.nav-grid{
  width: 100%;
  margin-top: 0rem;
  display: grid;
  grid-template: auto / auto;
  grid-column: 1 / -1;
  color: grey;
  color: #585858;
  /* color: #484848; */
  /* background-image: linear-gradient(#fffff8,#f9f9f9);
  border-bottom: 1px solid #e7e7e7; */
  /* background-image: linear-gradient(#fffff8,#f4f4f1);
  border-bottom: 1px solid #ddddd4; */
  /* background-image: linear-gradient(#fffff8,#f7f9f5);
  border-bottom: 1px solid #e4ebee; */
  /* background-image: linear-gradient(#fffff8,#fafbf6);
  border-bottom: 1px solid #f4f7f4; */
  /* border-bottom: 1px solid #fcfdf7;
  background-color: #fcfdf7; */

  /* background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.1) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.1) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.1) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.1) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px;
  border-bottom: 1px solid #888; */

  grid-gap: 20px;
  /* position: -webkit-sticky; */
  position: relative;
  top: 0;
  z-index: 10;
  font-size: 15px;
  /* padding: 1rem 1rem 1rem 1rem; */
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#body {
   /* padding:10px; */
   padding-bottom:4rem;   /* Height of the footer */
}
#footer{
  position:absolute;
  bottom:0;
  /* width:100%; */
  height:4rem;   /* Height of the footer */
  z-index: 10;
  margin-bottom: 3rem;
  font-family: serif;
}

.footer-2{
  margin-right: 1rem;
  /* border-top: 1px solid black; */
}

.footer-text{
  /* padding-top: .1rem; */
  /* border-top: 1px solid black; */

}

.footer-links{
  margin-top: 1rem;
  margin-bottom: 1rem;
  float: left;
  display: flex;
}

.footer-link{
  margin-left: .25rem;
  margin-right: .25rem;
}


.topnav{
  padding-top: 7px;
}

.foonav{
  height: 1.25rem;
  padding-bottom: 2.5px;
}

.navsearch{
  margin-top: -.05rem;
  /* width: 15vw; */
  width: 15rem;
  /* margin-right: 5px; */
  /* border: 1px solid #888; */
}

.navsearch input{
  margin: 0;
  /* padding: 0; */
  /* outline: 0; */
  /* border: 0; */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  /* height: 1.2rem; */
  width: 100%;
}


.topnav-left, .foonav-left {
  padding-left: 20px;
  float: left;
  /* grid-column: 1 / 1; */
  display: flex;
  /* margin-left: 4px; */
  /* justify-content: flex-start; */
}

.topnav-right, .foonav-right{
  float: right;
  /* grid-column: -2 / -1; */
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.topnav-left > div, .foonav-left > div{
  margin-right: 5px;
}

.topnav-right > div, .foonav-right > div{
  margin-left: 5px;
}

/* .document {
  margin-left: 230px;
} */

/* #sidenav{
  height: 100%;
  position: fixed;
  width: 200px;
  top: 68px;
  left: 0;
  padding: 15px 15px 0 15px;
  border-right: 1px solid #e7e7e7;
  background-color: #f9f9f9;
} */

/* .stickyborder{
  grid-row-start: 1;
  grid-column-start: 2;
  border-top: 1px solid #e7e7e7;
  position: sticky;
  top: 68px;
} */

/* article { position: relative;
         padding: 5rem 0rem;
         padding-top: 1rem;
} */


.search {
  /* display: inline-block; */
  width: auto;
}

.bodysearch{
  width: inherit;
  /* padding-right: -20%; */
}

.pagination {
    font-size: 2rem;
    font-family: serif;
    /* font: serif; */
    font-weight: normal;
}

.messages {
  /* margin-top: 3em; */
  width: 100%;
}

a:link, a:visited { color: inherit; }

/* .bad_citation{
  color: red;
  text-decoration: underline;
  cursor: pointer;
} */


@media (max-width: 1000px) {
  .parent{
    display: grid;
    grid-template-columns: auto;
  }
  .feed {
    /* width: 85%;
    margin-left: 10%; */
    width: 87.5%;
    margin-left: 0rem;
    padding-left: 12.5%;
    align-content: center;
    /* display: none; */
    }
  #body { padding-bottom: 7rem;}
  /* .footer {
    height: 7rem;
    width: 87.5%;
    margin-left: 0;
    padding-left: 12.5%;
  } */
  .rightfoo-fixin{display: none;}
  .topnav-right, .foonav-right{padding-right: 10px;}
  .topnav-left, .foonav-left {padding-left: 10px;}
  .navsearch{ width: 12.5rem;}
}

.aquo{
  /* display: inline-block; */
  font-family: serif;
  font-style: normal;
}

.aquo-enabled{
  opacity: 1;
  pointer-events: inherit;
  cursor: inherit;
}

.aquo-disabled{
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
}

#query{
  font: 400 13px/16px helvetica, arial, sans-serif;
  border: 1px solid #888;
  border-top: 0;
  background: #fff;
  position: relative;
  /* padding-left: .25rem; */
  width: inherit;
  word-wrap: break-word;
}

.query-enabled{
  display: inherit;
}

.query-disabled{
  display: none;
}

.query-item{
  font: inherit;
  font-size:1.5rem;
  margin-top:1rem;
  margin-right: .2rem;
  margin-left: .25rem;
  line-height: 1.75rem;
}


.query-item-category{
  margin-left: .25rem;
  margin-top: .25rem;
  display: inline-block;
  font-size: 1.1rem;
}

.query-item-follow{
  position: absolute;
  top: .25rem;
  right: .25rem;
}

.query-item-aquo{
  font-size: 2rem;
  display: inline-block;
  font-family: serif;
  font-style: normal;
}

.query-item-description{
  margin-left: .25rem;
  margin-top: 1rem;
  /* font-size: smaller; */
}

.toc-active{
  font-weight: bold;
}

.log-inactive{
  display: none;
}
.toc{
  border: 1px solid #888;
  padding-bottom: .5rem;
  padding-top: .25rem;
  /* background-color: #e4ebee; */
  background-color: #fcfdf7;
  /* background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.1) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.1) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.1) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.1) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px; */
  /* background-color: #fcfdf7; */
}

html {
    overflow-y: scroll;
}
