html {
    overflow-y: scroll;
}

#footer{
  font-family: serif;
}

.footer-links{
  margin-top: 1rem;
  margin-bottom: 1.75rem;
  float: left;
  display: flex;
}

.footer-links > div > a,
.footer-text > a {
  padding-bottom: .07rem;
}

.footer-link{
  margin-left: .25rem;
  margin-right: .25rem;
}

.nav-grid{
  width: 100%;
  margin-top: 0rem;
  color: #585858;
  top: 0;
  font-size: 15px;
  font-family: serif;
}

.topnav{
  padding-top: 7px;
  font-size: 17px;
}

.foonav{
  height: 1.25rem;
  padding-bottom: 2.5px;
}

.topnav-left, .foonav-left {
  margin-left: 7.5px;
  float: left;
  display: flex;
}

.topnav-right, .foonav-right{
  /* margin-right: 10px; */
  float: right;
  display: flex;
  /* justify-content: flex-end; */
}

.topnav-left > div, .foonav-left > div{
  margin-right: 5px;
}

.topnav-right > div, .foonav-right > div{
  margin-left: 5px;
}

.topnav-left{
  position: absolute;
  top: 10px;
  left: 15px;
}

.topnav-right{
  position: absolute;
  top: 10px;
  right: 15px;
}

.foonav-left{
  position: absolute;
  top: 50px;
  left: 15px;
}

.foonav-right{
  position: absolute;
  top: 50px;
  right: 15px;
}

.feed-container {
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  width: 100%;
}

.feed-item:nth-last-child(1){
  border-bottom: 1px solid #888;
}
.feed-item:nth-of-type(1) {
  border-top: 0;
}

.feed-item:nth-of-type(even){
  background-color: #fcfdf7;
}

.feed-item:nth-of-type(odd){
  background-color: #e4ebee;
}

.feed-item{
  border-top: 1px solid #888;
  position: relative;
  padding: .25rem;
}

.feed-item > p > a {
  word-break: break-all;
}

.feed-item-category{
  font-size: 1rem;
}

.feed-item-follow{
  position: absolute;
  top: .25rem;
  right: .25rem;
}

.feed-item-title{
  word-wrap: break-word;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.feed-item-description{
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 0;
}

.uri {
  word-break: break-all;
  /* font-weight: bold; */
}



#TOC{
  padding: 0;
}

#TOC > div > p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  display: inline-block;
}

#TOC > div > ul{
  margin: 0rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

#TOC > div > ul > li > ul{
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding-left: 2rem;
  margin-top: .25rem;
}

#TOC > .toc{
  display:inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

.toc{
  border: 1px solid #888;
  padding-bottom: .5rem;
  padding-top: .25rem;
  background-color: #fcfdf7;
}

.toc-active{
  font-weight: bold;
}

.log-inactive{
  display: none;
}

#query{
  font: 400 13px/16px helvetica, arial, sans-serif;
  border: 1px solid #888;
  border-top: 0;
  background: #fff;
  position: relative;
  /* padding-left: .25rem; */
  width: inherit;
  word-wrap: break-word;
}

.query-enabled{
  display: inherit;
}

.query-disabled{
  display: none;
}

.query-item{
  font: inherit;
  font-size:1.5rem;
  margin-top:1rem;
  margin-right: .2rem;
  margin-left: .25rem;
  line-height: 1.75rem;
}


.query-item-category{
  margin-left: .25rem;
  margin-top: .25rem;
  display: inline-block;
  font-size: 1.1rem;
}

.query-item-follow{
  position: absolute;
  top: .25rem;
  right: .25rem;
}

.query-item-aquo{
  font-size: 2rem;
  display: inline-block;
  font-family: serif;
  font-style: normal;
}

.query-item-description{
  margin-left: .25rem;
  margin-top: 1rem;
  /* font-size: smaller; */
}

.aquo{
  /* display: inline-block; */
  font-family: serif;
  font-style: normal;
}

.aquo-enabled{
  opacity: 1;
  pointer-events: inherit;
  cursor: inherit;
}

.aquo-disabled{
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
}

.pagination {
    font-size: 2rem;
    font-family: serif;
    font-weight: normal;
}

/* Tiny reset; you probably already have this */
.expandingArea textarea,
.update-search input,
.commit-message-textarea textarea {
   margin: 0;
   padding: 0;
   outline: 0;
   border: 0;
 }

.foo{
  width: 31rem;
  /* width: 43rem; */
}

.update-search{
  height: 1.7rem;
  position: relative;
  border: 1px solid #888;
  /* border-bottom: 0; */
  background: #fff;
  width: 100%;
}

.update-search input{
  height: 1.7rem;
  padding: 5px;
  background: transparent;
  font: 400 15px/18px helvetica, arial, sans-serif;
  /* Make the text soft-wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  /* This height is used when JS is disabled */
  width: 100%;
  resize: none;
}

.navsearch{
  margin-top: -.05rem;
  width: 15rem;
}

.navsearch input{
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.expandingArea {
  position: relative;
  border: 1px solid #888;
  background: #fff;
  width: 100%;
  min-height: 41vh;
}

.commit-message-textarea {
  position: relative;
  border: 1px solid #888;
  background: #fff;
  width: inherit;
  min-height: 0rem;
}

.expandingArea textarea,
.expandingArea pre,
.commit-message-textarea textarea {
  padding: 5px;
  background: transparent;
  font: 400 13px/16px helvetica, arial, sans-serif;
  /* Make the text soft-wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
  /* background-color: #fffff8; */
}

.expandingArea textarea{
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
       -ms-box-sizing: border-box;
           box-sizing: border-box;
   height: 100px; /* This height is used when JS is disabled */
   width: 100%;
 }

 .commit-message-textarea textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }

 .expandingArea.active textarea,
 .update-search.active input,
 .commit-message-textarea.active textarea {
   /* Hide any scrollbars */
   overflow: hidden;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   /* Remove WebKit user-resize widget */
   resize: none;
 }

 .expandingArea pre {
   display: none;
 }

 .expandingArea.active pre {
   display: block;
   /* We don't actually want to see this text, it's just for sizing */
   visibility: hidden;
 }

 .expandingArea-message {
   min-height: 0rem;
   height: 0;
 }

 .errorlist{
   color: red;
 }

 .save-invalid-body{
   border: 1px dashed red;
 }

 .save-invalid-search{
   border: 1px dashed red;
 }

 .commit-message-hidden{
   display: none;
 }

 .commit-message-error{
   color: red;
 }

 textarea, pre {-moz-tab-size: 4;} /* Firefox */
 textarea, pre {tab-size: 4;}

 dt{
   display: inline;
 }

 @media (max-width: 760px) {
   .nav-fixin{display: none;}
   .navsearch{ width: 10rem;}
   .foo{
     max-width: 31rem;
     width: 100%;
   }
   .subtitle{
     word-wrap: break-word;
   }
 }

 @media(max-width: 400px){
   .feed-item-follow{display: none;}
 }

main{
  min-height: 90vh;
}

.context-nav{
  display: inline-block;
  font-family: serif;
  font-size: 1.5rem;
  border: 1px solid #888;
  padding: .25rem .5rem .5rem .5rem;
  background-color: #fcfdf7;
}

.context-nav > a{
  font-family: serif;
}

.context-nav-top{
  margin-left: .5rem;
  margin-right: .5rem;
}

.context-nav-hidden{
  display: none;
}

.preview-message{
  margin-bottom:1rem;
  border-top: solid 1px black;
}

.link-inactive{
  display: none;
}

.link-node{
  font-size: 1.1rem;
}
.link-node-active{
  font-weight: bold;
}

.link-lrarr{
  display:inline-block;
  margin-top:-1rem;
  position:relative;
  top:2px;
  font-size:1.1rem;
}
