.update{
  width: 29.9rem;
  /* margin-right: 5rem; */
}

@media (max-width: 590px){
  .update{
    width: 107%;
  }
}

/* Tiny reset; you probably already have this */
 .expandingArea textarea,
 .commit-message-textarea textarea {
   margin: 0;
   padding: 0;
   outline: 0;
   border: 0;
 }

 /* The containing element has the expandingArea
    class, define any border or inset box-shadow
    etc. here that you want to style your textarea.
    I've just added a simple 1px solid mid-grey
    border. You can also set a min-height property
    here if you want and it works as expected.
  */
    .expandingArea, .commit-message-textarea {
   position: relative;
   border: 1px solid #888;
   background: #fff;
   width: inherit;
   /* min-height: 41vh; */
 }

 .commit-message-textarea{
   min-height: 0rem;
 }
 /* Any padding should go in here; it needs to be
    the same for both the pre and the textarea. You
    also need to make sure both have exactly the
    same font and line height properties, although
    the exact values can of course be anything you
    want.
  */
 .expandingArea textarea,
 .expandingArea pre {
   padding: 5px;
   background: transparent;
   font: 400 13px/16px helvetica, arial, sans-serif;
   /* Make the text soft-wrap */
   white-space: pre-wrap;
   word-wrap: break-word;
   /* background-color: #fffff8; */
 }

 .commit-message-textarea textarea {
   padding: 5px;
   background: transparent;
   font: 400 13px/16px helvetica, arial, sans-serif;
   /* Make the text soft-wrap */
   white-space: pre-wrap;
   word-wrap: break-word;
   /* background-color: #fffff8; */
 }

.expandingArea textarea,
.commit-message-textarea textarea {
   /* The border-box box model is used to allow
      padding whilst still keeping the overall width
      at exactly that of the containing element.
    */
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
       -ms-box-sizing: border-box;
           box-sizing: border-box;
   /* This height is used when JS is disabled */
   /* height: 100px; */
   width: 100%;
 }

 .expandingArea.active textarea,
 .commit-message-textarea.active textarea {
   /* Hide any scrollbars */
   overflow: hidden;
   position: absolute;
   top: 0;
   left: 0;
   /* height: 100%; */
   /* Remove WebKit user-resize widget */
   resize: none;
 }

 .expandingArea pre {
   display: none;
 }
 .expandingArea.active pre {
   display: block;
   /* We don't actually want to see this text, it's just for sizing */
   visibility: hidden;
 }
