{% extends "base.html" %}
{% load staticfiles %}

{% load humanize %}

{% block head %}
  <title>404 Not Found - Idealogs</title>
{% endblock %}

{% block content %}
  <article>
    <h1><em>{{gaykaken}}</em></h1>
    <p class="subtitle">(That's Yiddish for <strong>400 Bad Request</strong>.)</p>
    <section>
        <p>If you ended up here by accident, please <a href="{% url 'contact' %}">let me know</a> how it happened.
        (If you ended up here on purpose, then you only have yourself to blame.)  Thank you!</p>
    </section>
  </article>
{% endblock %}
