{% extends "base.html" %}
{% load staticfiles %}

{% load humanize %}

{% block head %}
  <title>500 Server Error - Idealogs</title>
{% endblock %}

{% block content %}
  <article>
    <h1><em>{{gaykaken}}</em></h1>
    <p class="subtitle">(That's Yiddish for <strong>500 Server Error</strong>.)</p>
    <section>
        <p>Yikes. That wasn't supposed to happen.  If you are up to it, please send me a <a href="{% url 'contact' %}">quick message</a> detailing how you ended up here. Thank you!</p>
    </section>
  </article>
{% endblock %}
