{% extends "form.html" %}
{% load staticfiles %}

{% block head %}
  <title>Contact - Idealogs</title>
{% endblock %}

{% block content %}
  <article>
    <h1>{{title}}</h1>
    <p class="subtitle">{{subtitle|safe}}</p>
    <form method="POST" class="post-form">
      {% csrf_token %}
      <div class="foo">
        <p>Need to get in touch? Include your message and an email where I can reach you below.</p>
        {{form.errors}}
        {% for field in form %}
          {% if field.label == "Subject" %}
            <div class="commit-message-textarea">
              <textarea name="subject" placeholder="Subject" style="resize:none;margin-bottom:-.5rem;height:0rem;" id="id_subject" required rows="1">{% if field.value %}{{field.value}}{% endif %}</textarea>
            </div>
          {% elif field.label == "Document" %}
            <div class="expandingArea" style="border-top:0;">
              <textarea name="document" placeholder="Message" style="resize:none;margin-bottom:-.5rem;min-height:42.5vh;" id="id_document" required>{% if field.value %}{{field.value}}{% endif %}</textarea>
            </div>
          {% elif field.label == "Email" %}
            <div class="commit-message-textarea" style='border-top:0;'>
              <textarea name="email" placeholder="Email" style="resize:none;margin-bottom:-.5rem;height:0rem;" id="id_email" required rows="1">{% if field.value %}{{field.value}}{% endif %}</textarea>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <button type="submit" name="button" style='margin-top:1rem;'>Submit</button>
    </form>
  </article>
{% endblock %}

{% block script %}
  <script src="{% static 'idealogs/update.js' %}?2"></script>
  <script>autosize($('#id_email'));</script>
  <script>autosize($('#id_subject'));</script>
{% endblock %}
