
{% block footer %}
  <div class='footer-text'>{{license|safe}} By using this site, you agree to the <a href="{% url 'tos' %}">Terms of Use</a> and <a href="{% url 'privacy' %}">Privacy Policy</a>.  Idealogs&reg; is a registered trademark of the Idealogical Foundation, Inc., a non-profit organization.</div>
{% endblock %}
<div class='footer-links'>
  <div><a href="{% url 'about' %}">About</a></div><div class='footer-link'>|</div>
  <div><a href="{% url 'contact' %}">Contact</a></div><div class='footer-link'>|</div>
  <div><a href="/@0x1">Docs</a></div><div class='footer-link'>|</div>
  <div><a href="{% url 'developers' %}">Developers</a></div><div class='footer-link'>|</div>
  <div><a href="{% url 'donate' %}">Donate</a></div>
</div>
