{% extends "base.html" %}
{% load staticfiles %}
{% load notifications_tags %}
{% notifications_unread as unread_count %}
{% load idealogs_extras %}

{% block leftfoonav %}
  {% if idealogs %}
    {% include 'idealogs/util/leftfoo.html' %}
  {% endif %}
{% endblock %}

{% block rightfoonav %}
  {% if idealogs %}
    {% include 'idealogs/util/rightfoo.html' %}
  {% endif %}
  {{block.super}}
{% endblock %}

{% block content %}
  <article>
    <h1>{{title|wbr|safe}}</h1>
    <p class="subtitle">{{subtitle|safe}}</p>
    <div class="foo">
      <form method="POST" class="post-form">
        {% csrf_token %}
        <!-- <section> -->
          {{form.as_p}}
        <!-- </section> -->
        {% block form-extra %}{% endblock %}
        <button type="submit" {% block onclick %}{% endblock %}>Submit</button>
      </form>
    </div>
  </article>
{% endblock %}
