{% extends "base.html" %}
{% load staticfiles %}
{% load idealogs_extras %}

{% block leftfoonav %}
  {% if idealogs %}
    {% include 'idealogs/util/leftfoo.html' %}
  {% endif %}
{% endblock %}

{% block rightfoonav %}
  {% if idealogs %}
    {% include 'idealogs/util/rightfoo.html' %}
  {% endif %}
  {{block.super}}
{% endblock %}

{% block content %}
  <article>
    <h1>{{title|wbr|safe}}</h1>
    {% if subtitle %}
      <p class="subtitle">{{subtitle|safe}}</p>
    {% endif %}
    {% if subaction_href %}
      <p class="byline">Bio: <a href="{{subaction_href}}">{{subaction_title}}</a></p>
    {% endif %}
    {% include 'search_list.html' %}
  </article>
{% endblock %}
