{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <title>New - Idealogs</title>
{% endblock %}

{% block content %}
  <article>
    <h1>Idealogs</h1>
    <p class="subtitle">{{subtitle|safe}}</p>
    <form method="POST" class="post-form" id="update-form">
      {% csrf_token %}
      <div class="foo">
        <div style='display:none;'>
          <input name="identifier" type="text" required id="identifier" value="{{query}}"></input>
        </div>
        <div class="update-search">
          <input name="identifier2" {% if not query %}autofocus="autofocus"{% endif %} type="text" placeholder="Entry" required id="id_search" value="{{query}}"></input>
        </div>
        <div id="query" class="query-disabled">
          <div class="query-item-category">
          </div>
          <div class="query-item-follow">
            <div class="query-item-aquo query-laquo">
            </div>
            <div class="query-item-aquo query-raquo">
            </div>
          </div>
          <div class="query-item"></div>
          <div class="query-item-description"></div>
        </div>
        {% if hints %}
          <div class="feed-container">
            {% for object in hints %}
              {% include 'feed/hint.html' %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </form>
  </article>
{% endblock %}

{% block script %}
  <script src="{% static 'idealogs/query.js' %}?2"></script>
{% endblock %}
