<div class="foo">
  <div class="update-search">
    <form action="{{action}}" method="get">
      <input name="q" placeholder="{{placeholder}}" {% if autofocus and not request.GET.q %}autofocus="autofocus"{% endif %} id="id_search" value="{{request.GET.q}}"></input>
      <input type="submit" style="display:none;"/>
    </form>
  </div>
  {% if feed or hints %}
    <div class="feed-container">
      {% if title == 'History' %}
        <form method="post" class='changes-form' onsubmit="return mySubmit();">
          {% csrf_token %}
      {% endif %}
      {% for object in feed %}
        {% include template %}
      {% endfor %}
      {% if title == 'History' %}
        </form>
      {% endif %}
      {% for object in hints %}
        {% include 'feed/hint.html' %}
      {% endfor %}
    </div>
    {% if is_paginated %}
      <div class="pagination" style='font:serif;'>
        {% if feed.has_previous %}
          <a href="{{request.path}}?q={{request.GET.q}}&page={{ feed.previous_page_number }}">&laquo;</a>
        {% else %}
          &laquo;
        {% endif %}
        {% if feed.has_next %}
          <a href="{{request.path}}?q={{request.GET.q}}&page={{ feed.next_page_number }}">&raquo;</a>
        {% else %}
          &raquo;
        {% endif %}
      </div>
    {% endif %}
  {% else %}
    <p>No results.</p>
  {% endif %}
</div>
