<div class="navsearch">
  <form action="{% url 'search' %}" method="get" accept-charset="utf-8">
    <input name="q" type="text" placeholder="Search">
    <input type="submit" style="display: none" />
  </form>
</div>
